{% load staticfiles %}
<html>
	<head>
		<title>Itay's first site</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Quicksand&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/casino.css' %}">
	</head>
	<body>
		<div class="page-header">
			<h1><a href="">Casino Platform --LOGO HERE--</a></h1>
		</div>

		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
            		{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>