{% extends 'casino/base.html' %}

{% block content %}
    <div class="bet">
    	{% if bet.creator.username == user.username %}
			<h2><a href="{% url 'user_page' %}">{{ bet.creator }}</a></h2>
			<p> {{bet.shown_res}} </p>
		{% else %}
			<h2><a href="{%  url 'ext_user_page' pk=bet.creator.pk %}">{{ bet.creator }}</a></h2>
			<p> {{bet.hidden_res}} </p>
		{% endif %}
		<div class="date">
    		<p>Last modified: {{ bet.last_modified }}</p>
		</div>
		{% if bet.creator.username == user.username %}
			<a class="btn btn-default" href="{% url 'bet_edit' pk=bet.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
	</div>
{% endblock %}
