{%  extends 'casino/base.html' %}
{% load casino_extras %}
{% block content %}
	<ul style="list-style-type: none">
		{% for comp in comps %}
		{% with bets=comp.bets.all %}
			<li>
				<div class="card">
					<div class="card-container">
						<div class="compUsers">
								<b> {{ bets|get_comp_users:user.username }} </b>
						</div>
						<div class="bet">
							<div id="leftcontainer">
								<div class="hoverbubbleleft">
									<img src={{ comp.home_team.img_url }} alt="" class="homeImage" />
									<span>Rank: {{ comp.home_team.rank }}, Points: {{ comp.home_team.points }}<br>Goals: {{ comp.home_team.goals }}, Goals Against: {{ comp.home_team.goals_against }}<br>Form: {{ comp.home_team.form }}
									</span>
								</div>
							</div>
							<h3><a id="home{{ comp.pk }}" href="{% url 'team_page' pk=comp.home_team.pk %}">{{ comp.home_team.name }}</a></h3>
							<!-- <button type="button" class="btn-info" data-toggle="collapse" data-target="#demo">BET</button> -->
							<!-- <button type="button" class="btn btn-info active">BET</button> -->
							<button id="{{ comp.pk }}" class="btn-custom btn-custom-primary outline" type="button" data-toggle="collapse" data-target="#collapseExample{{ comp.pk }}" aria-expanded="false" aria-controls="collapseExample{{ comp.pk }}">BET
				  			</button>
							<h3><a id="away{{ comp.pk }}" href="{% url 'team_page' pk=comp.away_team.pk %}">{{ comp.away_team.name }}</a></h3>
							<div id="rightcontainer"><div class="hoverbubbleright"><img src={{comp.away_team.img_url}} alt="" class="awayImage" /><span>Rank: {{ comp.away_team.rank }}, Points: {{ comp.away_team.points }}<br>Goals: {{ comp.away_team.goals }}, Goals Against: {{ comp.away_team.goals_against }}<br>Form: {{ comp.away_team.form }}</span></div></div>
						</div>
						<div class="collapse" id="collapseExample{{ comp.pk }}">
						{% with start=comp.start_time %}
						{% with x=bets|load_buttons:user.username %}
							<div class="bets-container">
						    	<button id="betHome{{ comp.pk }}" type="button" class="btn btn-success btn-sm glyphicon glyphicon-chevron-left" onclick="placeBet(this.id, {{start|get_milli}})"></button>
						    	<button id="betDraw{{ comp.pk }}" type="button" class="btn btn-sm btn-success glyphicon glyphicon-remove" onclick="placeBet(this.id, {{start|get_milli}})"></button>
						    	<button id="betAway{{ comp.pk }}" type="button" class="btn btn-sm btn-success glyphicon glyphicon-chevron-right" onclick="placeBet(this.id, {{start|get_milli}})"></button>
						    	<button id="betAway{{ comp.pk }}" type="button" class="btn btn-sm btn-success glyphicon glyphicon-chevron-right" onclick="disableUserBtn({{comp.pk}}, {{x}})">HHH</button>
						    </div>
						{% endwith %}
						{% endwith %}
						</div>
					</div>
				</div>
			</li>
		{% endwith %}
		{% endfor %}
	</ul>
{% endblock %}